*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.left {
    display: block;
    float: left;
}
.right {
    display: block;
    float:right;
}
html {
    font-family: 'Luckiest Guy', cursive;

    scroll-behavior: smooth;

}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-general {
    width: 49%;
    height:380px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0 3px #686563;

}
.font-nomal {
    font-size: 25px;
    line-height: 22.5px;
}
.font-topic {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #403C3A;
    
} /* phần sử dụng chung */
.header {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4) ;
    background-color: #fff;
    height:45px;
    color:#403C3A;   
    /* position: sticky; */
    z-index: 100;
    left:0;
    right: 0;
    top: 0;
    display: block;
    
}
.logo {
    font-weight: 800;
    padding-left: 45px;
    line-height: 45px;
    cursor: pointer;

    
    
}
.menu {
    line-height: 45px;
    font-size: 18px;
    
}
.menu .tab {
    /* padding:0 45px; */
}
.tab a {
    display: block;
    height: 100%;
    padding:0 45px;
    color: #403C3A;
    text-decoration: none;
}
.menu .tab:hover {
    background-color: gray;
    color: #fff;
    opacity: 0.4;
    border-radius:  2px;
    cursor: pointer;
    transition: all 0.2s  ease;    
}
.tab:hover a {
    color: #fff;
}
.box-info {
    color: #403C3A;
    display: flex;
}
.box-info img {
    width: 560px;
    height: auto;
    border-radius: 5px;
    /* margin-left: 5%; */
}

.texting-info {
    margin:50px 50px;
    line-height: 25px;
}